<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name="com.itlearn360.utilities.ITestListenerClass"></listener>



</listeners>



  <test thread-count="5" name="Test">
  
    <classes>
    
   <!-- here just cahnge the classes name which you want to run that class name you give here and remaining keep it as comments -->   
   
     
       <class name="com.itlearn360.testcases.TC001_LoginTest"/>    
      
      
      <class name="com.itlearn360.testcases.TC002_LoginTest_Using_DataDriven_ExcelReader"/>    
      
       
       
       <class name="com.itlearn360.testcases.TC003_SearchTestCase"/> 
       
        <class name="com.itlearn360.testcases.TC004_DashBoardTestcase"/> 
          
         <class name="com.itlearn360.testcases.TC005_PaymentTestCase"/>  
      
      
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
